<!DOCTYPE html>
<html>
  <head>
    <title>SurfTyping</title>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@otokomigakimasu" />
    <meta property="og:url" content="https://surf-typing.herokuapp.com/" />
    <meta name="og:title" content="SurfTyping" />
    <meta property="og:description" content="海を感じながら…サーフムービーをバックにタイピングの練習ができるアプリです。" />
    <meta property="og:image" content="<%= image_pack_tag('ogp.JPG') %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_pack_tag 'favicon.ico' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <%= render 'shared/header' %>
    </header>
    <%= yield %>
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
